.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  margin-top: 4px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltiptextRight {
  visibility: hidden;
  margin-left: 4px;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  top: -5px;
  left: 105%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltiptextRight::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltiptextLeft {
  visibility: hidden;
  margin-right: 4px;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  top: -5px;
  right: 105%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltiptextLeft::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

.tooltiptextTop {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 4px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
}

.tooltiptextTop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }