.btn {
  background-color: #ff8400;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  white-space: normal;
}

textarea{
  width: 400px;
  height: auto;
  min-height: 100px;
  overflow: auto;
}