<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Tool Tip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="container text-center mb-5">
    <button class="btn angularToolTip" aToolTip="hello this is my tool tip" aPosition="left" aBgColor="" aColor="">Left position</button>
    <button class="btn angularToolTip" aToolTip="hello this is my tool tip" aPosition="top" aBgColor="" aColor="">Top position</button>
    <button class="btn angularToolTip" aToolTip="hello this is my tool tip" aPosition="bottom" aBgColor="" aColor="">Bottom position</button>
    <button class="btn angularToolTip" aToolTip="hello this is my tool tip" aPosition="right" aBgColor="" aColor="">Right position</button>
    <a href="#" class="angularToolTip" aToolTip="your tool tip message here" aPosition="bottom" aBgColor="#555" aColor="#fff" > your link here</a>
</div>

<div class="container text-center">
    <div class="mb-5 d-inline-flex">
        <button class="btn angularToolTip" aToolTip="Camera Tool Tip long message to read here" aPosition="left" aBgColor="" aColor=""><i class="fas fa-user"></i></button>
        <textarea disabled> For long Messages like this example you can set the pointer to its relative parent, by modifying property of class: .tooltiptextLeft::after { top: '25%' !important}. </textarea>
    </div>
    <div class="mb-5 d-inline-flex">
        <textarea disabled> For Messages you can set the background color by using aBgColor="#673ab7" attribute and text color by using aColor="#fff" by default background  will be #555 and text color will be #fff. </textarea>
        <button class="btn angularToolTip" aToolTip="short message" aPosition="top" aBgColor="#673ab7" aColor="white"><i class="fas fa-search"></i></button>
    </div>
    <div class="mb-5 d-inline-flex">
        <button class="btn angularToolTip" aToolTip="example showing a long message on bottom tool tip display" aPosition="bottom"><i class="fas fa-cart"></i></button>
        <textarea disabled> For long Messages in top position or bottom position, the pointer is always at the middle. if you want to change you can modify css class for EX: .tooltiptextTop::after {left: 50% !important} </textarea>
    </div>
    <div class="md-5 d-inline-flex">
        <textarea disabled> For all Messages the default class will be, by modifying property of class: .tooltiptextRight::after { top: '50%' }. </textarea>
        <button class="btn angularToolTip" aToolTip="short message" aPosition="right"><i class="fas fa-camera"></i></button>
    </div>
</div>
